<nav class="w-full flex items-center justify-between p-4 overscroll-none border-b-2 border-gray-500">

  <span class="">The Movie Critic</span>
  
  <div class="hidden md:flex">
   <span class="m-3" >Movie Reviews</span> <br>

   <% if user_signed_in? && current_user.role == "admin"%>
     <span class="m-3">New Review</span> <br>
   <% end %>
   <span class="account-menu m-3 hover:cursor-pointer">Profile</span> <br>
   <div class="profile hidden absolute bg-white border-2 border-gray-300 top-16 right-8">
   <span class="m-5 hover:cursor-pointer">Account</span><br>
   <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to log out?'}, class: "m-5 text-red-500" %>

   </div>
  </div>
  
  <div class="navbar-menu hidden absolute border-2 border-gray-300 bg-white md:hidden top-12 right-10 overflow-visible">
   <span class="m-8" >Movie Reviews</span> <br>
   <% if user_signed_in? && current_user.role == "admin"%>
   <span class="m-8">New Review</span> <br>
   <% end %>
   <span class="m-8">Profile</span> <br>
   <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to log out?'}, class: "m-8 text-red-500" %>
  </div>
  <button class="hamburger-menu focus:outline-none md:hidden">
    <span class="hamburger-menu__icon block w-6 h-1 bg-gray-900 rounded"></span>
    <span class="hamburger-menu__icon block w-6 h-1 bg-gray-900 rounded mt-1"></span>
    <span class="hamburger-menu__icon block w-6 h-1 bg-gray-900 rounded mt-1"></span>
  </button>

</nav>