<div id="pageContainer" class="min-h-screen flex flex-col flex-start">

  <%= render partial: 'devise/shared/navbar'%>

  <% if session[:access_denied_message] %>
    <div class="alert alert-danger">
      <%= session[:access_denied_message] %>
    </div>
  <% session.delete(:access_denied_message) %>
  <% end %>

</div> 